.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e6e7e8;
  width: 640px;
  margin: 0 auto;
}

.skill .container {
  flex-wrap: wrap;
  justify-content: center;
}

h5 {
  margin-left: 2rem;
}

.navlink {
  text-decoration: none;
  color: black;
}