.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #e6e7e8;
  width: 50%;
  margin: 0 auto;
}

.skill .container {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 3rem;
}

h5 {
  margin-left: 2rem;
}

.navlink {
  text-decoration: none;
  color: black;
}

.container .card {
  margin: 1rem;
}