.skill {
  text-align: center;
  background-color: #e6e7e7;
}

.skill .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h5 {
  margin-left: 2rem;
}

.navlink {
  text-decoration: none;
  color: black;
}