#home_wrapper {
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: #e6e7e8;
    font-size: 13px;
}

h1 {
    padding-top: 3rem;
    margin-top: 0;
    font-size: 1.2rem;
}

.buttons {
    padding: 2rem 0;
    margin: 2rem;
}

button {
    padding: .8rem 2rem;
    margin: 1rem;
    cursor: pointer;
    border: 6px double green;
    border-radius: 30px;
    border-color: white;
    background-color: green;
    color: white;
}