p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 8rem;
  height: 8rem;
  padding: 5px;
  cursor: pointer;
  background-color: white;
}

.card:hover {
  background-color: #316eb2;
  color: white;
}
