header {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.container {
    width: 50%;
}

header ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: right;
}

header ul li {
    padding: 0 1vw;
}

.logo {
    display: block;
    width: 25%;
    margin: 60px auto 2rem;
}

#blue_bar {
    background-color: #1b75bc;
    width: 100%;
    height: 20px;
}