footer {
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 11px;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 640px;
    padding: 0;
}

footer ul li {
    padding: 0 1vw;
}