#skillcluster_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #e6e7e8;
    width: 50%;
    margin: 0 auto;
}

#skillcluster_wrapper .container {
    width: 100%;
    justify-content: center;
    padding-bottom: 3rem;
}